* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.App {
  position: absolute;
  width: 100vi;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.view {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

table {
  position: relative;
}

.btn-add {
  position: absolute;
  bottom: 3%;
  right: 0px;
  background-color: red;
  border: 2px solid black;
  border-radius: 55%;
}

.enabled {
  background-color: green;
}