* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.App {
  position: absolute;
  width: 100vi;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.view {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
  background-color: green;
  color: black;
  opacity: 0.9;
  background-image: url('https://wallpapercosmos.com/w/full/8/1/5/1142938-2000x2500-phone-hd-poker-wallpaper-photo.jpg');
  back padding-bottom: 800px;
}

table {
  position: relative;
  text-align: center;
  border: 1px solid black;
}

.btn-add {
  position: absolute;
  bottom: 3%;
  right: 0px;
  background-color: red;
  border: 2px solid black;
  border-radius: 55%;
}

.enabled {
  background-color: green;
}

.jogadores-ordenados {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.jogadores-ordenados>div {
  width: 50%;
}