* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.App {
  position: absolute;
  width: 100vi;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 2%;

}



.view {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
  background-color: white;
  color: white;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzGJx4A8Ewbry7K9s5Db4r5zvf8N6hG-ydhBrmwkzc16cwqrnzqyiEj2lZmUuMOLE0NjA&usqp=CAU');
  padding-bottom: 800px;
}

table {
  position: relative;
  text-align: center;
  border: 1px solid black;
  background-color: black;
  opacity: 0.8;
}

.btn-add {
  position: absolute;
  bottom: -1px;
  right: -35px;
  width: 31px;
  height: 23px;


  background-color: rgba(226, 14, 14, 0.604);
  border: 2px solid black;
  border-radius: 50%;
}

.btn-save {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 13%;
  height: 40px;
  z-index: 4;
  background-color: rgba(5, 5, 5, 0.8);
  border: 2px solid black;
  color: white;
  border-radius: 8%;
}

.btn-add::click {
  background-color: blue;
}

.enabled {
  background-color: green;
}

.jogadores-ordenados {
  height: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: x-large;
}

.jogadores-ordenados>div {
  color: white;
  background-color: black;
  border-radius: 30%;
  opacity: 0.8;
}